@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

:root {
  --color-1: hsl(0, 0%, 100%);
  --color-2: hsl(275, 100%, 97%);
  --color-3: hsl(292, 16%, 49%);
  --color-4: hsl(292, 42%, 14%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.6rem;
  background-color: var(--color-2);
  background-image: url('/assets/images/background-pattern-desktop.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 60rem;
  min-height: 60rem;
  background-color: var(--color-1);
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  padding: 4rem;
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: start;
}

.title {
  font-family: 'Work Sans', sans-serif;
  font-size: 6rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
  color: var(--color-4);
}

.title::before {
  content: '';
  width: 5rem;
  height: 5rem;
  background-image: url('/assets/images/icon-star.svg');
  background-size: cover;
  display: inline-block;
  margin-right: 3rem;
}

.faq {
  width: 100%;
  border-top: 1px solid var(--color-2);
  cursor: pointer;
  padding: 2rem 0;
}

.faq:first-of-type {
  padding-top: 0;
  border-top: none;
}

.question {
  color: var(--color-4);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question h2 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.question h2:hover {
  color: #ad28eb;
}

.answer {
  max-height: 0;
  overflow: hidden;

  transition: all 1.2s ease;
}

.faq.active .answer {
  max-height: 200px;
  animation: fade 0.5s ease-in-out;
}

.answer p {
  color: var(--color-3);
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 900px) {
  .container {
    width: 80%;
    padding: 2rem;
  }

  .title::before {
    width: 3rem;
    height: 3rem;
    margin-right: 1.5rem;
  }

  .title {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }

  .question h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}
